langchain
langchain-classic
langchain_community
langchain_core
langchainhub
langgraph
langchain-text-splitters
langchain-openai
langchain_chroma
sentence_transformers
langchain_huggingface
langchain-ollama
langchain-groq
langchain-cohere
langchain-pinecone
langchain-qdrant
langchain-experimental
langchain-weaviate
langchain-anthropic
pinecone-client
qdrant-client
weaviate-client
ipykernel
python-dotenv
bs4
arxiv
pymupdf
pypdf 
requests
chromadb
faiss_cpu
beautifulsoup4
streamlit
fastapi
uvicorn
langserve[all]
sse_starlette
tiktoken
